<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"esp-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group esp-main"><!-- wp:post-title {"level":1,"fontSize":"hero","className":"esp-article-title"} /-->
<!-- wp:post-featured-image {"align":"wide","sizeSlug":"full","className":"esp-single-featured"} /-->
<!-- wp:post-content {"className":"esp-article-content","layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
